<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% comment %} Aqui va el bloque del title {% endcomment %}
        {% endblock title %}
        
    </title>
</head>
<body>
    <h1>Estoy en la pagina Inicio</h1>
    <h2>Bienvenido a mi pagina con Django</h2>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'Acerca de' %}">About</a></li>
            <li><a href="{% url 'Mision' %}">Misión</a></li>
            <li><a href="{% url 'Vision' %}">Visión</a></li>
        </ul>
    </nav>
    {% block content %}
    {% comment %} Aqui se maqueta el contenido del bloque content {% endcomment %}
    {% endblock content %}
</body>
</html>